In [199]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import classification_report
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import MinMaxScaler

In [177]:
df = pd.read_csv('Student Depression Dataset.csv')
df.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0

In [178]:
df.info()
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27901 entries, 0 to 27900
Data columns (total 18 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     27901 non-null  int64
 1   Gender                                 27901 non-null  object
 2   Age                                    27901 non-null  float64
 3   City                                   27901 non-null  object
 4   Profession                             27901 non-null  object
 5   Academic Pressure                      27901 non-null  float64
 6   Work Pressure                          27901 non-null  float64
 7   CGPA                                   27901 non-null  float64
 8   Study Satisfaction                     27901 non-null  float64
 9   Job Satisfaction                       27901 non-null  float64
 10  Sleep Duration                         27901 non-null  object
 11  Dietary Habits                         27901 non-null  object
 12  Degree                                 27901 non-null  object
 13  Have you ever had suicidal thoughts ?  27901 non-null  object
 14  Work/Study Hours                       27901 non-null  float64
 15  Financial Stress                       27898 non-null  float64
 16  Family History of Mental Illness       27901 non-null  object
 17  Depression                             27901 non-null  int64
dtypes: float64(8), int64(2), object(8)
memory usage: 3.8+ MB

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
count,27901.000000,27901,27901.000000,27901,27901,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901,27901,27901,27901,27901.000000,27898.000000,27901,27901.000000
unique,NaN,2,NaN,52,14,NaN,NaN,NaN,NaN,NaN,5,4,28,2,NaN,NaN,2,NaN
top,NaN,Male,NaN,Kalyan,Student,NaN,NaN,NaN,NaN,NaN,Less than 5 hours,Unhealthy,Class 12,Yes,NaN,NaN,No,NaN
freq,NaN,15547,NaN,1570,27870,NaN,NaN,NaN,NaN,NaN,8310,10317,6080,17656,NaN,NaN,14398,NaN
mean,70442.149421,NaN,25.822300,NaN,NaN,3.141214,0.000430,7.656104,2.943837,0.000681,NaN,NaN,NaN,NaN,7.156984,3.139867,NaN,0.585499
std,40641.175216,NaN,4.905687,NaN,NaN,1.381465,0.043992,1.470707,1.361148,0.044394,NaN,NaN,NaN,NaN,3.707642,1.437347,NaN,0.492645
min,2.000000,NaN,18.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,0.000000,1.000000,NaN,0.000000
25%,35039.000000,NaN,21.000000,NaN,NaN,2.000000,0.000000,6.290000,2.000000,0.000000,NaN,NaN,NaN,NaN,4.000000,2.000000,NaN,0.000000
50%,70684.000000,NaN,25.000000,NaN,NaN,3.000000,0.000000,7.770000,3.000000,0.000000,NaN,NaN,NaN,NaN,8.000000,3.000000,NaN,1.000000
75%,105818.000000,NaN,30.000000,NaN,NaN,4.000000,0.000000,8.920000,4.000000,0.000000,NaN,NaN,NaN,NaN,10.000000,4.000000,NaN,1.000000
max,140699.000000,NaN,59.000000,NaN,NaN,5.000000,5.000000,10.000000,5.000000,4.000000,NaN,NaN,NaN,NaN,12.000000,5.000000,NaN,1.000000

In [179]:
# Check for duplicates
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 0

In [180]:
# Kiểm tra các cột có giá trị null
print(df.isnull().sum())

id                                       0
Gender                                   0
Age                                      0
City                                     0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         3
Family History of Mental Illness         0
Depression                               0
dtype: int64

In [181]:
# Xử lý missing values nếu có
df = df.dropna()  # hoặc dùng fillna nếu cần

In [182]:
print(df.isnull().sum())

id                                       0
Gender                                   0
Age                                      0
City                                     0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64

In [184]:
# Mapping thời lượng ngủ thành số
sleep_map = {
    'Less than 5 hours': 4,
    '5-6 hours': 5.5,
    '7-8 hours': 7.5,
    'More than 8 hours': 9
}
df['Sleep Duration'] = df['Sleep Duration'].map(sleep_map)

# Kiểm tra và xử lý NaN
if df['Sleep Duration'].isnull().sum() > 0:
    print("Found NaN in 'Sleep Duration' after mapping.")
    df['Sleep Duration'].fillna(df['Sleep Duration'].mean(), inplace=True)  # Hoặc dùng phương pháp khác

Found NaN in 'Sleep Duration' after mapping.

C:\Users\qbao4\AppData\Local\Temp\ipykernel_13480\1761936172.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sleep Duration'].fillna(df['Sleep Duration'].mean(), inplace=True)  # Hoặc dùng phương pháp khác

In [185]:
df = df.drop(columns=['City', 'Profession'])

In [186]:
categorical_columns = df.select_dtypes(include=['object', 'category']).columns.tolist()
print("Categorical Columns:", categorical_columns)

Categorical Columns: ['Gender', 'Dietary Habits', 'Degree', 'Have you ever had suicidal thoughts ?', 'Family History of Mental Illness']

In [187]:
# Bước 1: Chia dữ liệu thành train (70%) và tạm thời (30%)
train_set, temp_set = train_test_split(df, test_size=0.3, random_state=42, stratify=df['Depression'])

# Bước 2: Chia phần tạm thời (30%) thành validation (15%) và test (15%)
valid_set, test_set = train_test_split(temp_set, test_size=0.5, random_state=42, stratify=temp_set['Depression'])

# Bước 3: Lưu ra file CSV
train_set.to_csv('train_set.csv', index=False)
valid_set.to_csv('valid_set.csv', index=False)
test_set.to_csv('test_set.csv', index=False)

print(f"Train set: {train_set.shape}")
print(f"Validation set: {valid_set.shape}")
print(f"Test set: {test_set.shape}")

Train set: (19528, 16)
Validation set: (4185, 16)
Test set: (4185, 16)

In [188]:
train_df = pd.read_csv('train_set.csv')
valid_df = pd.read_csv('valid_set.csv')
test_df = pd.read_csv('test_set.csv')

In [189]:
X_train = train_df.drop(columns=['Depression'])
y_train = train_df['Depression']

X_valid = valid_df.drop(columns=['Depression'])
y_valid = valid_df['Depression']

X_test = test_df.drop(columns=['Depression'])
y_test = test_df['Depression']

In [190]:
print(train_df.isnull().sum())
print(valid_df.isnull().sum())
print(test_df.isnull().sum())

id                                       0
Gender                                   0
Age                                      0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64
id                                       0
Gender                                   0
Age                                      0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64
id                                       0
Gender                                   0
Age                                      0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64

In [191]:
# 2. One-hot encode cho các cột dạng object
X_train_encoded = pd.get_dummies(X_train, drop_first=True)
X_valid_encoded = pd.get_dummies(X_valid, drop_first=True)
X_test_encoded = pd.get_dummies(X_test, drop_first=True)

In [192]:
yes_no_columns = ['Have you ever had suicidal thoughts ?', 'Family History of Mental Illness']
# One-hot encode các cột yes_no_columns
df_encoded = pd.get_dummies(df, columns=yes_no_columns, drop_first=True)

In [193]:
# 3. Căn chỉnh cột giữa các tập
X_valid_encoded = X_valid_encoded.reindex(columns=X_train_encoded.columns, fill_value=0)
X_test_encoded = X_test_encoded.reindex(columns=X_train_encoded.columns, fill_value=0)

In [200]:
# Các cột số cần chuẩn hóa
columns_to_scale = ['Age', 'Academic Pressure', 'Work Pressure', 'CGPA',
                    'Study Satisfaction', 'Job Satisfaction',
                    'Work/Study Hours', 'Financial Stress', 'Sleep Duration']

# Khởi tạo và fit scaler với tập train
scaler = MinMaxScaler()
X_train_encoded[columns_to_scale] = scaler.fit_transform(X_train_encoded[columns_to_scale])
X_valid_encoded[columns_to_scale] = scaler.transform(X_valid_encoded[columns_to_scale])
X_test_encoded[columns_to_scale] = scaler.transform(X_test_encoded[columns_to_scale])

In [201]:
print("X_train_encoded:")
display(X_train_encoded.head())

print("\nX_valid_encoded:")
display(X_valid_encoded.head())

print("\nX_test_encoded:")
display(X_test_encoded.head())

X_train_encoded:

,id,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Work/Study Hours,Financial Stress,...,Degree_MBBS,Degree_MCA,Degree_MD,Degree_ME,Degree_MHM,Degree_MSc,Degree_Others,Degree_PhD,Have you ever had suicidal thoughts ?_Yes,Family History of Mental Illness_Yes
0,113127,0.243902,0.8,0.0,0.828,0.8,0.0,0.7,0.833333,0.00,...,False,False,False,False,False,False,False,False,True,True
1,22943,0.024390,1.0,0.0,0.709,1.0,0.0,0.3,0.916667,1.00,...,False,False,False,False,False,False,False,False,True,True
2,88721,0.097561,0.6,0.0,0.665,0.2,0.0,1.0,0.166667,0.75,...,False,True,False,False,False,False,False,False,True,False
3,46602,1.000000,0.2,0.0,0.814,0.2,0.0,0.3,0.833333,0.75,...,False,False,False,False,False,False,False,True,True,True
4,94657,0.365854,0.6,0.0,0.647,0.2,0.0,0.0,0.833333,0.00,...,False,False,False,False,False,False,False,False,False,True

X_valid_encoded:

,id,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Work/Study Hours,Financial Stress,...,Degree_MBBS,Degree_MCA,Degree_MD,Degree_ME,Degree_MHM,Degree_MSc,Degree_Others,Degree_PhD,Have you ever had suicidal thoughts ?_Yes,Family History of Mental Illness_Yes
0,130472,0.170732,1.0,0.0,0.587,0.8,0.0,0.0,0.750000,0.25,...,False,True,False,False,False,False,False,False,True,False
1,45743,0.097561,0.6,0.0,0.725,1.0,0.0,0.7,0.250000,0.25,...,False,False,False,False,False,False,False,False,True,False
2,15264,0.146341,0.4,0.0,0.954,0.4,0.0,0.3,0.833333,0.50,...,False,False,False,False,False,False,False,False,False,False
3,115996,0.390244,0.8,0.0,0.804,0.4,0.0,0.7,1.000000,0.75,...,False,False,False,False,False,False,False,False,True,True
4,123354,0.317073,1.0,0.0,0.921,0.8,0.0,0.0,0.500000,0.50,...,False,False,False,False,False,False,False,False,True,True

X_test_encoded:

,id,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Work/Study Hours,Financial Stress,...,Degree_MBBS,Degree_MCA,Degree_MD,Degree_ME,Degree_MHM,Degree_MSc,Degree_Others,Degree_PhD,Have you ever had suicidal thoughts ?_Yes,Family History of Mental Illness_Yes
0,59771,0.146341,0.8,0.0,0.993,0.4,0.0,0.7,0.500000,1.00,...,False,False,False,False,False,False,False,False,True,False
1,64684,0.341463,0.4,0.0,0.791,0.8,0.0,1.0,1.000000,0.25,...,False,False,False,False,False,False,False,False,True,True
2,48614,0.000000,0.8,0.0,0.960,1.0,0.0,0.0,0.500000,0.00,...,False,False,False,False,False,False,False,False,False,False
3,75026,0.121951,0.6,0.0,0.556,0.8,0.0,0.3,0.833333,0.75,...,False,False,False,False,False,False,False,False,True,True
4,113495,0.097561,0.6,0.0,0.895,0.2,0.0,0.0,0.833333,0.75,...,False,False,False,False,False,False,False,False,True,False

In [202]:
X_train_encoded.info()
X_valid_encoded.info()
X_test_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19528 entries, 0 to 19527
Data columns (total 43 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   id                                         19528 non-null  int64
 1   Age                                        19528 non-null  float64
 2   Academic Pressure                          19528 non-null  float64
 3   Work Pressure                              19528 non-null  float64
 4   CGPA                                       19528 non-null  float64
 5   Study Satisfaction                         19528 non-null  float64
 6   Job Satisfaction                           19528 non-null  float64
 7   Sleep Duration                             19528 non-null  float64
 8   Work/Study Hours                           19528 non-null  float64
 9   Financial Stress                           19528 non-null  float64
 10  Gender_Male                                19528 non-null  bool
 11  Dietary Habits_Moderate                    19528 non-null  bool
 12  Dietary Habits_Others                      19528 non-null  bool
 13  Dietary Habits_Unhealthy                   19528 non-null  bool
 14  Degree_B.Com                               19528 non-null  bool
 15  Degree_B.Ed                                19528 non-null  bool
 16  Degree_B.Pharm                             19528 non-null  bool
 17  Degree_B.Tech                              19528 non-null  bool
 18  Degree_BA                                  19528 non-null  bool
 19  Degree_BBA                                 19528 non-null  bool
 20  Degree_BCA                                 19528 non-null  bool
 21  Degree_BE                                  19528 non-null  bool
 22  Degree_BHM                                 19528 non-null  bool
 23  Degree_BSc                                 19528 non-null  bool
 24  Degree_Class 12                            19528 non-null  bool
 25  Degree_LLB                                 19528 non-null  bool
 26  Degree_LLM                                 19528 non-null  bool
 27  Degree_M.Com                               19528 non-null  bool
 28  Degree_M.Ed                                19528 non-null  bool
 29  Degree_M.Pharm                             19528 non-null  bool
 30  Degree_M.Tech                              19528 non-null  bool
 31  Degree_MA                                  19528 non-null  bool
 32  Degree_MBA                                 19528 non-null  bool
 33  Degree_MBBS                                19528 non-null  bool
 34  Degree_MCA                                 19528 non-null  bool
 35  Degree_MD                                  19528 non-null  bool
 36  Degree_ME                                  19528 non-null  bool
 37  Degree_MHM                                 19528 non-null  bool
 38  Degree_MSc                                 19528 non-null  bool
 39  Degree_Others                              19528 non-null  bool
 40  Degree_PhD                                 19528 non-null  bool
 41  Have you ever had suicidal thoughts ?_Yes  19528 non-null  bool
 42  Family History of Mental Illness_Yes       19528 non-null  bool
dtypes: bool(33), float64(9), int64(1)
memory usage: 2.1 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4185 entries, 0 to 4184
Data columns (total 43 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   id                                         4185 non-null   int64
 1   Age                                        4185 non-null   float64
 2   Academic Pressure                          4185 non-null   float64
 3   Work Pressure                              4185 non-null   float64
 4   CGPA                                       4185 non-null   float64
 5   Study Satisfaction                         4185 non-null   float64
 6   Job Satisfaction                           4185 non-null   float64
 7   Sleep Duration                             4185 non-null   float64
 8   Work/Study Hours                           4185 non-null   float64
 9   Financial Stress                           4185 non-null   float64
 10  Gender_Male                                4185 non-null   bool
 11  Dietary Habits_Moderate                    4185 non-null   bool
 12  Dietary Habits_Others                      4185 non-null   bool
 13  Dietary Habits_Unhealthy                   4185 non-null   bool
 14  Degree_B.Com                               4185 non-null   bool
 15  Degree_B.Ed                                4185 non-null   bool
 16  Degree_B.Pharm                             4185 non-null   bool
 17  Degree_B.Tech                              4185 non-null   bool
 18  Degree_BA                                  4185 non-null   bool
 19  Degree_BBA                                 4185 non-null   bool
 20  Degree_BCA                                 4185 non-null   bool
 21  Degree_BE                                  4185 non-null   bool
 22  Degree_BHM                                 4185 non-null   bool
 23  Degree_BSc                                 4185 non-null   bool
 24  Degree_Class 12                            4185 non-null   bool
 25  Degree_LLB                                 4185 non-null   bool
 26  Degree_LLM                                 4185 non-null   bool
 27  Degree_M.Com                               4185 non-null   bool
 28  Degree_M.Ed                                4185 non-null   bool
 29  Degree_M.Pharm                             4185 non-null   bool
 30  Degree_M.Tech                              4185 non-null   bool
 31  Degree_MA                                  4185 non-null   bool
 32  Degree_MBA                                 4185 non-null   bool
 33  Degree_MBBS                                4185 non-null   bool
 34  Degree_MCA                                 4185 non-null   bool
 35  Degree_MD                                  4185 non-null   bool
 36  Degree_ME                                  4185 non-null   bool
 37  Degree_MHM                                 4185 non-null   bool
 38  Degree_MSc                                 4185 non-null   bool
 39  Degree_Others                              4185 non-null   bool
 40  Degree_PhD                                 4185 non-null   bool
 41  Have you ever had suicidal thoughts ?_Yes  4185 non-null   bool
 42  Family History of Mental Illness_Yes       4185 non-null   bool
dtypes: bool(33), float64(9), int64(1)
memory usage: 462.0 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4185 entries, 0 to 4184
Data columns (total 43 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   id                                         4185 non-null   int64
 1   Age                                        4185 non-null   float64
 2   Academic Pressure                          4185 non-null   float64
 3   Work Pressure                              4185 non-null   float64
 4   CGPA                                       4185 non-null   float64
 5   Study Satisfaction                         4185 non-null   float64
 6   Job Satisfaction                           4185 non-null   float64
 7   Sleep Duration                             4185 non-null   float64
 8   Work/Study Hours                           4185 non-null   float64
 9   Financial Stress                           4185 non-null   float64
 10  Gender_Male                                4185 non-null   bool
 11  Dietary Habits_Moderate                    4185 non-null   bool
 12  Dietary Habits_Others                      4185 non-null   bool
 13  Dietary Habits_Unhealthy                   4185 non-null   bool
 14  Degree_B.Com                               4185 non-null   bool
 15  Degree_B.Ed                                4185 non-null   bool
 16  Degree_B.Pharm                             4185 non-null   bool
 17  Degree_B.Tech                              4185 non-null   bool
 18  Degree_BA                                  4185 non-null   bool
 19  Degree_BBA                                 4185 non-null   bool
 20  Degree_BCA                                 4185 non-null   bool
 21  Degree_BE                                  4185 non-null   bool
 22  Degree_BHM                                 4185 non-null   bool
 23  Degree_BSc                                 4185 non-null   bool
 24  Degree_Class 12                            4185 non-null   bool
 25  Degree_LLB                                 4185 non-null   bool
 26  Degree_LLM                                 4185 non-null   bool
 27  Degree_M.Com                               4185 non-null   bool
 28  Degree_M.Ed                                4185 non-null   bool
 29  Degree_M.Pharm                             4185 non-null   bool
 30  Degree_M.Tech                              4185 non-null   bool
 31  Degree_MA                                  4185 non-null   bool
 32  Degree_MBA                                 4185 non-null   bool
 33  Degree_MBBS                                4185 non-null   bool
 34  Degree_MCA                                 4185 non-null   bool
 35  Degree_MD                                  4185 non-null   bool
 36  Degree_ME                                  4185 non-null   bool
 37  Degree_MHM                                 4185 non-null   bool
 38  Degree_MSc                                 4185 non-null   bool
 39  Degree_Others                              4185 non-null   bool
 40  Degree_PhD                                 4185 non-null   bool
 41  Have you ever had suicidal thoughts ?_Yes  4185 non-null   bool
 42  Family History of Mental Illness_Yes       4185 non-null   bool
dtypes: bool(33), float64(9), int64(1)
memory usage: 462.0 KB

In [203]:
# Chuyển đổi các cột categorical thành số
for col in categorical_columns:
    if col in X_train_encoded.columns:
        X_train_encoded[col] = X_train_encoded[col].astype('category').cat.codes
    if col in X_valid_encoded.columns:
        X_valid_encoded[col] = X_valid_encoded[col].astype('category').cat.codes
    if col in X_test_encoded.columns:
        X_test_encoded[col] = X_test_encoded[col].astype('category').cat.codes
# Chuẩn hóa dữ liệu
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_encoded)
X_valid_scaled = scaler.transform(X_valid_encoded)
X_test_scaled = scaler.transform(X_test_encoded)

In [204]:
print("Data after one-hot encoding (Training Set):")
display(X_train_encoded.head())

print("\nData after one-hot encoding (Validation Set):")
display(X_valid_encoded.head())

print("\nData after one-hot encoding (Test Set):")
display(X_test_encoded.head())

Data after one-hot encoding (Training Set):

,id,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Work/Study Hours,Financial Stress,...,Degree_MBBS,Degree_MCA,Degree_MD,Degree_ME,Degree_MHM,Degree_MSc,Degree_Others,Degree_PhD,Have you ever had suicidal thoughts ?_Yes,Family History of Mental Illness_Yes
0,113127,0.243902,0.8,0.0,0.828,0.8,0.0,0.7,0.833333,0.00,...,False,False,False,False,False,False,False,False,True,True
1,22943,0.024390,1.0,0.0,0.709,1.0,0.0,0.3,0.916667,1.00,...,False,False,False,False,False,False,False,False,True,True
2,88721,0.097561,0.6,0.0,0.665,0.2,0.0,1.0,0.166667,0.75,...,False,True,False,False,False,False,False,False,True,False
3,46602,1.000000,0.2,0.0,0.814,0.2,0.0,0.3,0.833333,0.75,...,False,False,False,False,False,False,False,True,True,True
4,94657,0.365854,0.6,0.0,0.647,0.2,0.0,0.0,0.833333,0.00,...,False,False,False,False,False,False,False,False,False,True

Data after one-hot encoding (Validation Set):

,id,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Work/Study Hours,Financial Stress,...,Degree_MBBS,Degree_MCA,Degree_MD,Degree_ME,Degree_MHM,Degree_MSc,Degree_Others,Degree_PhD,Have you ever had suicidal thoughts ?_Yes,Family History of Mental Illness_Yes
0,130472,0.170732,1.0,0.0,0.587,0.8,0.0,0.0,0.750000,0.25,...,False,True,False,False,False,False,False,False,True,False
1,45743,0.097561,0.6,0.0,0.725,1.0,0.0,0.7,0.250000,0.25,...,False,False,False,False,False,False,False,False,True,False
2,15264,0.146341,0.4,0.0,0.954,0.4,0.0,0.3,0.833333,0.50,...,False,False,False,False,False,False,False,False,False,False
3,115996,0.390244,0.8,0.0,0.804,0.4,0.0,0.7,1.000000,0.75,...,False,False,False,False,False,False,False,False,True,True
4,123354,0.317073,1.0,0.0,0.921,0.8,0.0,0.0,0.500000,0.50,...,False,False,False,False,False,False,False,False,True,True

Data after one-hot encoding (Test Set):

,id,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Work/Study Hours,Financial Stress,...,Degree_MBBS,Degree_MCA,Degree_MD,Degree_ME,Degree_MHM,Degree_MSc,Degree_Others,Degree_PhD,Have you ever had suicidal thoughts ?_Yes,Family History of Mental Illness_Yes
0,59771,0.146341,0.8,0.0,0.993,0.4,0.0,0.7,0.500000,1.00,...,False,False,False,False,False,False,False,False,True,False
1,64684,0.341463,0.4,0.0,0.791,0.8,0.0,1.0,1.000000,0.25,...,False,False,False,False,False,False,False,False,True,True
2,48614,0.000000,0.8,0.0,0.960,1.0,0.0,0.0,0.500000,0.00,...,False,False,False,False,False,False,False,False,False,False
3,75026,0.121951,0.6,0.0,0.556,0.8,0.0,0.3,0.833333,0.75,...,False,False,False,False,False,False,False,False,True,True
4,113495,0.097561,0.6,0.0,0.895,0.2,0.0,0.0,0.833333,0.75,...,False,False,False,False,False,False,False,False,True,False

In [205]:
# Define and train the logistic regression model
log_reg = LogisticRegression(max_iter=1000, random_state=42)
log_reg.fit(X_train_scaled, y_train)

# Predict on training, validation, and test sets
y_train_pred = log_reg.predict(X_train_scaled)
y_valid_pred = log_reg.predict(X_valid_scaled)
y_test_pred = log_reg.predict(X_test_scaled)

# Generate classification reports
print("Classification Report (Training Set):")
print(classification_report(y_train, y_train_pred))

print("\nClassification Report (Validation Set):")
print(classification_report(y_valid, y_valid_pred))

print("\nClassification Report (Test Set):")
print(classification_report(y_test, y_test_pred))

Classification Report (Training Set):
              precision    recall  f1-score   support

           0       0.83      0.79      0.81      8094
           1       0.86      0.89      0.87     11434

    accuracy                           0.85     19528
   macro avg       0.84      0.84      0.84     19528
weighted avg       0.85      0.85      0.85     19528


Classification Report (Validation Set):
              precision    recall  f1-score   support

           0       0.83      0.79      0.81      1734
           1       0.86      0.88      0.87      2451

    accuracy                           0.85      4185
   macro avg       0.84      0.84      0.84      4185
weighted avg       0.85      0.85      0.85      4185


Classification Report (Test Set):
              precision    recall  f1-score   support

           0       0.84      0.79      0.81      1735
           1       0.86      0.89      0.87      2450

    accuracy                           0.85      4185
   macro avg       0.85      0.84      0.84      4185
weighted avg       0.85      0.85      0.85      4185

In [174]:

'''# Định nghĩa mô hình SVM
svm = SVC(random_state=42)

# Định nghĩa grid search với các giá trị kernel
param_grid = {'kernel': ['linear', 'poly', 'rbf', 'sigmoid']}

# Sử dụng GridSearchCV để tìm kiếm tham số tốt nhất
grid_search = GridSearchCV(estimator=svm, param_grid=param_grid, cv=5, scoring='accuracy', verbose=1)
grid_search.fit(X_train_scaled, y_train)

# In ra kết quả tốt nhất
print(f"Best kernel: {grid_search.best_params_['kernel']}")
print(f"Best accuracy: {grid_search.best_score_}")

# Dự đoán trên tập validation và test
best_svm = grid_search.best_estimator_
y_valid_pred_svm = best_svm.predict(X_valid_scaled)
y_test_pred_svm = best_svm.predict(X_test_scaled)

# Báo cáo kết quả
print("\nClassification Report (Validation Set):")
print(classification_report(y_valid, y_valid_pred_svm))

print("\nClassification Report (Test Set):")
print(classification_report(y_test, y_test_pred_svm))'''

'# Định nghĩa mô hình SVM\nsvm = SVC(random_state=42)\n\n# Định nghĩa grid search với các giá trị kernel\nparam_grid = {\'kernel\': [\'linear\', \'poly\', \'rbf\', \'sigmoid\']}\n\n# Sử dụng GridSearchCV để tìm kiếm tham số tốt nhất\ngrid_search = GridSearchCV(estimator=svm, param_grid=param_grid, cv=5, scoring=\'accuracy\', verbose=1)\ngrid_search.fit(X_train_scaled, y_train)\n\n# In ra kết quả tốt nhất\nprint(f"Best kernel: {grid_search.best_params_[\'kernel\']}")\nprint(f"Best accuracy: {grid_search.best_score_}")\n\n# Dự đoán trên tập validation và test\nbest_svm = grid_search.best_estimator_\ny_valid_pred_svm = best_svm.predict(X_valid_scaled)\ny_test_pred_svm = best_svm.predict(X_test_scaled)\n\n# Báo cáo kết quả\nprint("\nClassification Report (Validation Set):")\nprint(classification_report(y_valid, y_valid_pred_svm))\n\nprint("\nClassification Report (Test Set):")\nprint(classification_report(y_test, y_test_pred_svm))'

In [206]:
# Gắn lại nhãn 'Depression' vào các tập
train_encoded_df = X_train_encoded.copy()
train_encoded_df['Depression'] = y_train.values

valid_encoded_df = X_valid_encoded.copy()
valid_encoded_df['Depression'] = y_valid.values

test_encoded_df = X_test_encoded.copy()
test_encoded_df['Depression'] = y_test.values

# Ghi ra file CSV
train_encoded_df.to_csv("train_set_encoded.csv", index=False)
valid_encoded_df.to_csv("valid_set_encoded.csv", index=False)
test_encoded_df.to_csv("test_set_encoded.csv", index=False)

print("Đã lưu xong các tập dữ liệu đã được one-hot encoding.")

Đã lưu xong các tập dữ liệu đã được one-hot encoding.

In [213]:
# Reload the original dataset
df = pd.read_csv('Student Depression Dataset.csv')

df = df.dropna()  # Handle missing values

# Mapping thời lượng ngủ thành số
sleep_map = {
    'Less than 5 hours': 4,
    '5-6 hours': 5.5,
    '7-8 hours': 7.5,
    'More than 8 hours': 9
}
df['Sleep Duration'] = df['Sleep Duration'].map(sleep_map)

# Kiểm tra và xử lý NaN
if df['Sleep Duration'].isnull().sum() > 0:
    print("Found NaN in 'Sleep Duration' after mapping.")
    df['Sleep Duration'].fillna(df['Sleep Duration'].mean(), inplace=True)  # Hoặc dùng phương pháp khác

categorical_columns = df.select_dtypes(include=['object', 'category']).columns.tolist()
print("Categorical Columns:", categorical_columns)

# Bước 1: Chia dữ liệu thành train (70%) và tạm thời (30%)
train_set, temp_set = train_test_split(df, test_size=0.3, random_state=42, stratify=df['Depression'])

# Bước 2: Chia phần tạm thời (30%) thành validation (15%) và test (15%)
valid_set, test_set = train_test_split(temp_set, test_size=0.5, random_state=42, stratify=temp_set['Depression'])

# Bước 3: Lưu ra file CSV
train_set.to_csv('full_train_set.csv', index=False)
valid_set.to_csv('full_valid_set.csv', index=False)
test_set.to_csv('full_test_set.csv', index=False)

print(f"Train set: {train_set.shape}")
print(f"Validation set: {valid_set.shape}")
print(f"Test set: {test_set.shape}")

train_df = pd.read_csv('full_train_set.csv')
valid_df = pd.read_csv('full_valid_set.csv')
test_df = pd.read_csv('full_test_set.csv')


X_train = train_df.drop(columns=['Depression'])
y_train = train_df['Depression']

X_valid = valid_df.drop(columns=['Depression'])
y_valid = valid_df['Depression']

X_test = test_df.drop(columns=['Depression'])
y_test = test_df['Depression']
# 2. One-hot encode cho các cột dạng object
X_train_encoded = pd.get_dummies(X_train, drop_first=True)
X_valid_encoded = pd.get_dummies(X_valid, drop_first=True)
X_test_encoded = pd.get_dummies(X_test, drop_first=True)

yes_no_columns = ['Have you ever had suicidal thoughts ?', 'Family History of Mental Illness']
# One-hot encode các cột yes_no_columns
df_encoded = pd.get_dummies(df, columns=yes_no_columns, drop_first=True)

# 3. Căn chỉnh cột giữa các tập
X_valid_encoded = X_valid_encoded.reindex(columns=X_train_encoded.columns, fill_value=0)
X_test_encoded = X_test_encoded.reindex(columns=X_train_encoded.columns, fill_value=0)

# Các cột số cần chuẩn hóa
columns_to_scale = ['Age', 'Academic Pressure', 'Work Pressure', 'CGPA',
                    'Study Satisfaction', 'Job Satisfaction',
                    'Work/Study Hours', 'Financial Stress', 'Sleep Duration']

# Khởi tạo và fit scaler với tập train
scaler = MinMaxScaler()
X_train_encoded[columns_to_scale] = scaler.fit_transform(X_train_encoded[columns_to_scale])
X_valid_encoded[columns_to_scale] = scaler.transform(X_valid_encoded[columns_to_scale])
X_test_encoded[columns_to_scale] = scaler.transform(X_test_encoded[columns_to_scale])

# Chuyển đổi các cột categorical thành số
for col in categorical_columns:
    if col in X_train_encoded.columns:
        X_train_encoded[col] = X_train_encoded[col].astype('category').cat.codes
    if col in X_valid_encoded.columns:
        X_valid_encoded[col] = X_valid_encoded[col].astype('category').cat.codes
    if col in X_test_encoded.columns:
        X_test_encoded[col] = X_test_encoded[col].astype('category').cat.codes
# Chuẩn hóa dữ liệu
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_encoded)
X_valid_scaled = scaler.transform(X_valid_encoded)
X_test_scaled = scaler.transform(X_test_encoded)

# Define and train the logistic regression model
log_reg = LogisticRegression(max_iter=1000, random_state=42)
log_reg.fit(X_train_scaled, y_train)

# Predict on training, validation, and test sets
y_train_pred = log_reg.predict(X_train_scaled)
y_valid_pred = log_reg.predict(X_valid_scaled)
y_test_pred = log_reg.predict(X_test_scaled)

# Generate classification reports
print("Classification Report (Training Set):")
print(classification_report(y_train, y_train_pred))

print("\nClassification Report (Validation Set):")
print(classification_report(y_valid, y_valid_pred))

print("\nClassification Report (Test Set):")
print(classification_report(y_test, y_test_pred))

Found NaN in 'Sleep Duration' after mapping.
Categorical Columns: ['Gender', 'City', 'Profession', 'Dietary Habits', 'Degree', 'Have you ever had suicidal thoughts ?', 'Family History of Mental Illness']
Train set: (19528, 18)
Validation set: (4185, 18)
Test set: (4185, 18)

C:\Users\qbao4\AppData\Local\Temp\ipykernel_13480\1451596809.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sleep Duration'].fillna(df['Sleep Duration'].mean(), inplace=True)  # Hoặc dùng phương pháp khác

Classification Report (Training Set):
              precision    recall  f1-score   support

           0       0.84      0.79      0.81      8094
           1       0.86      0.89      0.87     11434

    accuracy                           0.85     19528
   macro avg       0.85      0.84      0.84     19528
weighted avg       0.85      0.85      0.85     19528


Classification Report (Validation Set):
              precision    recall  f1-score   support

           0       0.90      0.66      0.76      1734
           1       0.80      0.95      0.87      2451

    accuracy                           0.83      4185
   macro avg       0.85      0.80      0.81      4185
weighted avg       0.84      0.83      0.82      4185


Classification Report (Test Set):
              precision    recall  f1-score   support

           0       0.83      0.79      0.81      1735
           1       0.86      0.89      0.87      2450

    accuracy                           0.85      4185
   macro avg       0.85      0.84      0.84      4185
weighted avg       0.85      0.85      0.85      4185